In [1]:
import warnings

# 경고 메시지 표시 안함
warnings.filterwarnings(action='ignore')

In [2]:
import pandas as pd

# 훈련용 데이터 준비하기
nsmc_train_df = pd.read_csv(
    'data/ratings_train.txt', encoding='utf-8', sep='\t', engine='python')
nsmc_train_df.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [3]:
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [4]:
# document가 non-null인 샘플만 다시 저장
nsmc_train_df = nsmc_train_df[nsmc_train_df['document'].notnull()]
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [5]:
# 감성 분류 확인(0: 부정, 1: 긍정)
nsmc_train_df['label'].value_counts()

0    75170
1    74825
Name: label, dtype: int64

In [6]:
import re

# 한글 이외의 문자는 공백으로 치환하기
nsmc_train_df['document'] = nsmc_train_df['document'].apply(
    lambda x: re.sub(r'[^ㄱ-ㅣ가-힣]+', ' ', x))  # 모음 ㅣ (or의 | 아님)
nsmc_train_df.head()

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1   3819312                       흠 포스터보고 초딩영화줄 오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                         교도소 이야기구먼 솔직히 재미는 없다 평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화 스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [7]:
# 평가용 데이터 준비하기
nsmc_test_df = pd.read_csv(
    'data/ratings_test.txt', encoding='utf-8', sep='\t', engine='python')
nsmc_test_df.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [8]:
nsmc_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [9]:
# document가 non-null인 샘플만 다시 저장
nsmc_test_df = nsmc_test_df[nsmc_test_df['document'].notnull()]
nsmc_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49997 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49997 non-null  int64
 1   document  49997 non-null  object
 2   label     49997 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

In [10]:
# 감성 분류 확인(0: 부정, 1: 긍정)
nsmc_test_df['label'].value_counts()

1    25171
0    24826
Name: label, dtype: int64

In [11]:
# 한글 이외의 문자는 공백으로 치환하기
nsmc_test_df['document'] = nsmc_test_df['document'].apply(
    lambda x: re.sub(r'[^ㄱ-ㅣ가-힣]+', ' ', x))  # 모음 ㅣ (or의 | 아님)
nsmc_test_df.head()

        id                                     document  label
0  6270596                                          굳 ㅋ      1
1  9274899                                                   0
2  8544678             뭐야 이 평점들은 나쁘진 않지만 점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임 돈주고 보기에는       0
4  6723715   만 아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기를 불편하게 하죠       0

In [12]:
from konlpy.tag import Okt

okt = Okt()  # 객체 생성


def okt_tokenizer(text):
    tokens = okt.morphs(text)  # 형태소 단위로 토큰화 작업
    return tokens

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

# 토큰 생성기(tokenizer) : okt_tokenizer() 함수
# 토큰의 단어 크기(ngram_range) : 1~2개의 단어
# 최소 출현 빈도(min_df) : 3번 이상
# 최대 출현 빈도(max_df) : 90% 이하
tfidf = TfidfVectorizer(tokenizer=okt_tokenizer,
                        ngram_range=(1, 2), min_df=3, max_df=0.9)

# 벡터화할 데이터 내부 설정값 조정
tfidf.fit(nsmc_train_df['document'])

# 데이터를 벡터로 변환
nsmc_train_tfidf = tfidf.transform(nsmc_train_df['document'])

In [14]:
from sklearn.linear_model import LogisticRegression

# 로지스틱 회귀 모델 사용(긍정, 부정의 이진 분류 모델 구축)
SA_lr = LogisticRegression(random_state=0)  # 객체 생성

# 설정값 조절 fit()
# 독립변수 X = nsmc_train_tfidf, 종속변수 Y = nsmc_train_df['label']
SA_lr.fit(nsmc_train_tfidf, nsmc_train_df['label'])

LogisticRegression(random_state=0)

In [15]:
from sklearn.model_selection import GridSearchCV

# 하이퍼 매개변수 : C
# C에 대해 비교 검사할 값 : 1, 3, 3.5, 4, 4.5, 5
params = {'C': [1, 3, 3.5, 4, 4.5, 5]}

# 교차 검증(cv) : 3
# 모형 비교 기준(scoring) : 정확도(accuracy)
# verbose : 함수 수행시 발생하는 상세한 정보들 출력
# 0 : 출력하지 않음 / 1 : 자세히 출력 / 2 : 함축적인 정보만 출력
SA_lr_grid_cv = GridSearchCV(
    SA_lr, param_grid=params, cv=3, scoring='accuracy', verbose=1)  # 객체 생성

# 설정값 조절 fit()
# 독립변수 X = nsmc_train_tfidf, 종속변수 Y = nsmc_train_df['label']
SA_lr_grid_cv.fit(nsmc_train_tfidf, nsmc_train_df['label'])

Fitting 3 folds for each of 6 candidates, totalling 18 fits

GridSearchCV(cv=3, estimator=LogisticRegression(random_state=0),
             param_grid={'C': [1, 3, 3.5, 4, 4.5, 5]}, scoring='accuracy',
             verbose=1)

In [17]:
print('최적의 C 매개변수 =', SA_lr_grid_cv.best_params_,
      ', 최고 점수 =', round(SA_lr_grid_cv.best_score_, 4))

최적의 C 매개변수 = {'C': 3} , 최고 점수 = 0.8553

In [18]:
# 최적 매개변수가 설정된 모형을 저장
SA_lr_best = SA_lr_grid_cv.best_estimator_

In [19]:
# 평가용 데이터를 tfidf 객체 적용하여 벡터로 변환
nsmc_test_tfidf = tfidf.transform(nsmc_test_df['document'])

# SA_lr_best에 nsmc_test_tfidf 벡터를 사용하여 감성 예측
test_predict = SA_lr_best.predict(nsmc_test_tfidf)

In [20]:
from sklearn.metrics import accuracy_score

# 평가용 데이터 감성 결과값(nsmc_test_df['label'])과
# 감성 예측값(test_predict)을 기반으로 정확도 계산
print('감성 분석 정확도 =', round(accuracy_score(
    nsmc_test_df['label'], test_predict), 3))

감성 분석 정확도 = 0.858

In [31]:
st = input('감성 분석할 문장 입력 >>')

In [32]:
# 입력 텍스트에 대한 전처리
st = re.compile(r'[ㄱ-ㅣ가-힣]+').findall(st)
print(st)

st = [' '.join(st)]
print(st)

['완전', '쓰레기인데', '짱', '재밌어요']
['완전 쓰레기인데 짱 재밌어요']

In [33]:
# 입력 텍스트의 벡터화
st_tfidf = tfidf.transform(st)

# 최적 감성 분석 모델에 적용하여 감성 예측
st_predict = SA_lr_best.predict(st_tfidf)

In [34]:
# 예측값 확인하기
if(st_predict == 0):
    print(st, '→ 부정')
else:
    print(st, '→ 긍정')

['완전 쓰레기인데 짱 재밌어요'] → 부정